<div class="header">
  <h1>XOGame</h1>
  <div *ngIf="!displayname" class="login">
      <label for="login-user">User: </label>
      <input type="text" id="login-user" size="12" #un>
      <label for="login-pass">Password: </label>
      <input type="password" id="login-pass" size="12" #pw>
      <button (click)="doLogin(un.value, pw.value)">Log In</button>
  </div>
  <div *ngIf="displayname" class="logged">
    <span>Logged in as: </span>
    <h2>{{ displayname }}</h2>
    <button (click)="logout()">Log out</button>
  </div>
</div>
