.game {
    display: flex;
    justify-content: center;

    .game-view {

        .column-bar {
            height: 20px;
            margin-left: 30px;
            border-bottom: 1px solid grey;
        }

        .row {
            display: flex;

            .row-bar {
                width: 30px;
                display: inline-block;
                border-right: 1px solid grey;
            }

            #canvas {
                background-color: burlywood;
            }
        }

        .colrow-num {
            font-family: monospace;
            font-size: 14px;
            letter-spacing: -1px;
            font-weight: bold;
            text-align: center;
            color: black;
        }

        .col-num {
            display: inline-block;
            height: 100%;
        }

        .row-num {
            display: block;
            width: 100%;
            padding-top: 8px;
        }

        .column-bar, .row-bar {
            background-color: #eee;
        }

    }

    .controls {

        .grid-move {
            height: 50px;
        }
    }

}